version: '3.8'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: factory_es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false # 开发环境关闭密码，方便调试
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" # 限制内存，防止电脑卡顿
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.1
    container_name: factory_kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

volumes:
  es_data:
